<div class="container text-center mt-5">
    <h2>Decrypt Module</h2>
    <div class="container ">
        <h2>Text</h2><br>
        <textarea id="input" cols="80" rows="8" ></textarea>
    </div>
    <div class="container mt-3">
        <div class="d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-secondary" type="button">Decrypt</button>
          </div>
    </div>
    <div class="container mt-4">
        <h2>Output</h2><br>
        <textarea id="input" cols="80" rows="8" class="mb-3"></textarea>
    </div>
</div>
