<div class="container">
    <div class="conatiner bg-dark text-light mt-5 mx-5 rounded-3">
        <div class="text-center d-grid gap-2 col-3 mx-auto ">
            <button type="button" class="btn btn-secondary mt-4 mb-4 btn-lg" routerLink="encrypt">Encrypt</button><br><br>
            <button type="button" class="btn btn-secondary mt-4 mb-4 btn-lg" routerLink="identify">Identify</button><br><br>
            <button type="button" class="btn btn-secondary mt-4 mb-4 btn-lg" routerLink="decrypt">Decrypt</button><br><br>
        </div>
    </div>
</div>