<div class="container-fluid text-center mt-2 ">
  <h2>Encryption Module</h2>
  <div class="container mt-3">
    <h2>Text</h2>
    <textarea id="input" cols="80" rows="8"></textarea>
  </div>

  <!-- encrytion type  -->
  <div class="conatiner bg-dark text-light">
    <h5>Encrytion</h5>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>
      Rot13
    </label>
  </div>



  <div class="container-fluid bg-dark text-light">
    <h5>Hashing</h5>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>Option 1
    </label>
    <label class="radio-inlinepx-2 px-2">
      <input type="radio" name="optradio">Option 2
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio">Option 3
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio" checked>Option 1
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio">Option 2
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio">Option 3
    </label> <label class="radio-inline">
      <input type="radio" name="optradio" checked>Option 1
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio">Option 2
    </label>
    <label class="radio-inline px-2">
      <input type="radio" name="optradio">Option 3
    </label>
  </div>
  <div class="container mt-3">
    <div class="d-grid gap-2 col-3 mx-auto">
      <button class="btn btn-primary" type="button">Encrypt</button>
    </div>
  </div>
  <div class="container mt-3">
    <h2>Output</h2>
    <textarea id="input" cols="80" rows="8" class="mb-3"></textarea>
  </div>
</div>